In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('15_20년 전국 민간아파트 평당 분양가격.csv')
df.head()

   Unnamed: 0.1  Unnamed: 0 지역명               규모구분    연도   월      평당 분양가격
0             0           0  서울                 전체  2015  10  1770.000000
1             1           1  서울         전용면적 60㎡이하  2015  10  1712.727273
2             2           2  서울   전용면적 60㎡초과 85㎡이하  2015  10  1782.424242
3             3           3  서울  전용면적 85㎡초과 102㎡이하  2015  10  1733.636364
4             4           4  서울        전용면적 102㎡초과  2015  10  1781.515152

In [10]:
df = df.drop(['Unnamed: 0.1','Unnamed: 0'],axis = 1)

KeyError: "['Unnamed: 0.1', 'Unnamed: 0'] not found in axis"

In [14]:
pd.pivot_table(df,index='지역명',columns='연도',values='평당 분양가격')

연도,2015,2016,2017,2018,2019,2020
지역명,,,,,,
강원,660.060606,657.750583,672.070707,754.752525,820.429293,895.454545
경기,1015.696970,1073.000000,1129.126263,1309.313131,1438.525253,1481.424242
경남,776.787879,780.232323,808.686869,856.535354,982.333865,920.833333
경북,685.414141,711.974747,761.071055,797.132867,831.060606,856.363636
광주,726.969697,843.956229,881.515152,874.835017,1112.183196,1207.575758
대구,828.181818,944.171717,1119.556678,1114.715577,1293.080808,1353.333333
대전,752.121212,818.249158,910.276449,939.771044,1158.787879,1154.015152
부산,952.929293,986.550505,1068.651515,1183.651515,1243.146465,1229.484848
서울,1865.535354,1997.560606,2007.722222,2130.601010,2597.505051,2826.424242
세종,804.868687,813.388889,838.654340,949.537480,1037.593583,1082.878788
울산,860.202020,879.942529,976.139657,940.440771,938.131313,975.353535
인천,1007.898990,1019.196970,1071.848485,1091.049784,1216.691919,1267.757576
전남,624.323232,636.969697,680.737374,728.176768,754.754441,801.060606
전북,652.929293,634.217172,680.085061,750.651515,783.494949,780.787879
제주,730.126263,878.556474,1159.645512,1096.048485,1086.177156,1178.560606
충남,706.141414,730.782828,749.064786,753.151515,803.382920,829.545455
충북,627.070707,655.035354,685.267677,748.328283,731.944444,741.121212

In [20]:
pd.pivot_table(df,index='지역명',columns='연도',values='평당 분양가격',aggfunc=np.max)

연도,2015,2016,2017,2018,2019,2020
지역명,,,,,,
강원,694.545455,727.878788,833.636364,885.757576,1090.303030,1183.636364
경기,1166.666667,1281.818182,1309.393939,1535.757576,1718.181818,1655.757576
경남,922.121212,993.333333,1206.969697,1122.121212,1303.939394,983.939394
경북,762.424242,815.151515,904.545455,893.333333,1047.575758,1047.575758
광주,754.242424,1066.060606,1017.575758,995.151515,1479.090909,1306.060606
대구,994.545455,1519.393939,1519.393939,1375.454545,1563.030303,1550.606061
대전,783.333333,1311.515152,1311.515152,1477.878788,1477.878788,1363.636364
부산,1133.030303,1276.969697,1276.969697,1350.303030,1400.909091,1333.636364
서울,2149.090909,2453.333333,2390.000000,2453.939394,3856.969697,4192.424242
세종,833.939394,841.818182,977.878788,977.878788,1191.212121,1191.212121
울산,925.151515,992.121212,1089.090909,961.818182,1030.000000,1030.000000
인천,1074.242424,1466.363636,1510.909091,1465.151515,1572.121212,1502.424242
전남,694.545455,747.575758,754.848485,797.878788,925.151515,925.151515
전북,720.303030,721.212121,744.242424,924.848485,924.848485,837.575758
제주,782.727273,1239.696970,1630.303030,1655.151515,1181.212121,1223.939394
충남,831.212121,886.666667,897.878788,826.969697,970.000000,970.000000
충북,717.878788,865.151515,865.151515,840.303030,845.151515,798.181818

In [24]:
df.groupby('지역명')['평당 분양가격'].median()

지역명
강원     702.727273
경기    1223.333333
경남     843.939394
경북     769.393939
광주     875.757576
대구    1107.878788
대전     863.333333
부산    1144.848485
서울    2073.333333
세종     845.454545
울산     931.515152
인천    1046.666667
전남     700.000000
전북     703.636364
제주     991.666667
충남     747.575758
충북     692.727273
Name: 평당 분양가격, dtype: float64

In [26]:
df.groupby(['지역명','연도'])[['평당 분양가격']].mean()

             평당 분양가격
지역명 연도
강원  2015  660.060606
    2016  657.750583
    2017  672.070707
    2018  754.752525
    2019  820.429293
...              ...
충북  2016  655.035354
    2017  685.267677
    2018  748.328283
    2019  731.944444
    2020  741.121212

[102 rows x 1 columns]